/* Whole site */
body {

    display: flex;
    min-height: 100px;
    flex-direction: column;
  }
.logo{
    height: 63px;
    width: 80px;
}
nav{
      background-color: black;
      
  }
  .color{
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../assets/images/gold.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }

  main {
      /* background-image: url(../assets/images/body-painting-makeup-portrait-dark-skin-afro-africa.jpg);
      background-image: cover;
      background: no-repeat; */

    flex: 1 0 auto;
  }

 
.gold-text {
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../assets/images/gold.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}

.back{
    background-color: black;
    
}

/* Contact page */
#background{
    background-image: url(../assets/images/body-painting-makeup-portrait-dark-skin-afro-africa.jpg);
    background-attachment: fixed;
    background-size: cover;
}



.contact{
    height: 500px;
    width: 600px;
    margin: auto;
    padding: 50px;
    text-align: center;
}